{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "env": {
    "node": true
  },
  "overrides": [
    {
      "files": "**/*.ts",
      "extends": [
        "plugin:@typescript-eslint/eslint-recommended"
      ]
    }
  ]
}
